#banner {
  background-image: url("../images/base.png");
  height: 496px;
}
h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 55px;
  color: #f17228;
}
#MStars {
  align-items: center;
  text-align: right;
}
#bannerText {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 22px;
  color: #4d2000;
}
