#header {
  position: relative;
  max-width: 1440px;
  height: 56px;
  left: 1px;
  top: -0.4px;
  display: flex;

  /* Screen */

  background: #fffff;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
}
#logo {
  display: flex;
  width: 180px;
  height: 40px;
  left: 120px;
  top: 8px;
  align-items: center;
}
#logoPic {
  left: 8.33%;
  right: 88.89%;
  top: 14.29%;
  bottom: 14.29%;
}
#foodDelivery {
  width: 126px;
  height: 30px;
  left: 5px;
  top: 5px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  /* Primary */

  color: #f17228;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#home {
  position: static;
  width: 43px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  /* Primary */
  color: #f17228;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#menu {
  position: static;
  width: 107px;
  height: 24px;
  left: 3px;
  top: 0px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#deliveryZone {
  position: static;
  width: 136px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  /* Gray 1 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.search {
}
#searchBox {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  width: 235px;
  height: 32px;
  border: 1px solid #fbc5a6;
  box-sizing: border-box;
  border-radius: 10px;
}
#searchBox::placeholder {
  padding-left: 40px;
  color: #b5b5b5;
}
#busket {
  position: relative;
  width: 37px;
  height: 16px;
  left: 29.5px;
  top: 8px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary */
  color: #f17228;
}
#login {
  position: relative;
  width: 66px;
  height: 16px;
  left: 104.5px;
  top: 8px;

  font-family: "popins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f17228;
}
